<div class="development bg-light justify-content-center align-self-center" [hidden]="hideDevelopment">
    <div class="text-center development-text">
        <h1 class="h1">Наш сайт<br />в разработке</h1>
    </div>
    <div class="development-button">
        <button type="button" class="btn btn-outline-primary" (click)="hideDev()">Хочу перейти на сайт</button>
    </div>
    <div class="development-soc">
        <a class="btn btn-outline-primary rounded-circle" href="https://vk.com/recimage">
            <img src="assets/vk-logo.svg" height="32px" width="32px" alt="Vk Group">
        </a>
    </div>
</div>