.mat-button.active {
  background-color: #ffffff44;
}

.bg-dark-b {
  background-color: #121212;
}

.nav-center {
  justify-content: center;
}

.nav-center .mat-button {
  margin-left: .25rem;
  margin-right: .25rem;
}