<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <remove name="x-powered-by-plesk" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering removeServerHeader ="true" />
        </security>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="31.00:00:00" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Redirect to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>