<div class="main-container container-fluid">
  <div class="header">
    <h1 class="h1">О нас</h1>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md">
      <img
        src="/assets/icons/icon-256x256.png"
        width="256"
        height="256"
        class="d-block m-auto"
        alt="Logo"
        loading="lazy" />
    </div>
    <div class="col-sm-6 col-md">
      <h2>Rec Image</h2>
      <blockquote class="blockquote">
        <p class="text lead">
          Разработчики игры по пикселям Евгений и Анастасия предлагают вам
          расскраску по пикселям. Где вы сможете не только раскрасить
          предложенные изображения но и выбрать свое.
        </p>
        <div class="blockquote-footer">
          <cite title="Rec Image">Расскраска</cite>
        </div>
      </blockquote>
    </div>
  </div>
</div>
