<div class="main-container container-fluid">
    <div class="header">
        <h1 class="h1">Контакты</h1>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="d-inline-block text lead">
                        Давайте общаться. Свяжитесь с нами, если возникли вопросы или предложения. Используя контактные
                        данные ниже, или отправьте сообщение через специальную форму.
                    </p>
                    <h2 class="h2">Связаться с нами</h2>
                    <div class="development-soc">
                        <a class="btn btn-outline-info rounded-circle" target="_blanc" href="https://vk.com/recimage">
                            <img loading="lazy" src="assets/vk-logo.svg" height="32px" width="32px" alt="Vk Group">
                        </a>
                    </div>
                </div>
                <div class="col">
                    <h2 class="h2">Отправить сообщение</h2>
                    <form>
                        <div class="form-group">
                            <label for="name"><span>Имя</span> (обязательно)</label>
                            <input type="text" class="form-control" name="name" aria-label="name"
                                aria-describedby="namelHelp">
                        </div>
                        <div class="form-group">
                            <label for="email"><span>Email</span> (обязательно)</label>
                            <input type="email" class="form-control" name="email" aria-label="email"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="email"><span>Сообщение</span> (обязательно)</label>
                            <textarea name="" id="" cols="30" rows="3" class="form-control" name="email"
                                aria-label="text" aria-describedby="textlHelp">
                            </textarea>
                        </div>
                        <button type="button" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer-select></footer-select>