.navbar {
  padding: 1rem;
  height: 4.5rem;
}

.bg-dark-b {
  background-color: #121212;
}

.nav-item {
  padding: 0.5rem 0;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-brand {
  font-weight: 600;
  margin-left: 1rem;
}
