<div class="nav-bar">
  <mat-toolbar class="bg-dark-b">
    <mat-toolbar-row class="nav-row">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="toggleNavbar()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <a mat-button class="companyName" routerLink="/">
        <img
          src="/assets/icons/icon-32x32.png"
          width="32"
          height="32"
          class="d-inline-block align-top"
          alt="Logo"
          loading="lazy" />
        <span class="site-name">Rec Image</span>
      </a>
      <span class="nav-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a
          mat-button
          routerLinkActive="active"
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          >Главная Страница</a
        >
        <a mat-button routerLinkActive="active" routerLink="/about">О нас</a>
        <a mat-button routerLinkActive="active" routerLink="/contact"
          >Контакты</a
        >
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row
      app-row-smooth
      class="small-nav-row"
      fxShow="{{ isNavbarCollapsed === false }}"
      fxHide.gt-sm="true"
      [trigger]="isNavbarCollapsed === false">
      <div fxLayout="column" fxFlexFill>
        <a
          mat-button
          routerLinkActive="active"
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          >Главная Страница</a
        >
        <a mat-button routerLinkActive="active" routerLink="/about">О нас</a>
        <a mat-button routerLinkActive="active" routerLink="/contact"
          >Контакты</a
        >
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
