<nav class="main-nav">
    <a class="btn btn-nav btn-hovered btn-back" routerLink="">
        <img class="btn-icon" src="assets/btn-back.svg" width="32" height="32" alt="Menu" />
    </a>
    <div class="d-flex justify-content-center">
        <div class="col-sm-9 col-md-4 range-menu">
            <div class="input-group range-input">
                <input type="range" class="form-control form-control-range" min="5" max="150" name="zoom"
                    aria-label="Zoom" [ngModel]="coloringSettings.zoom" (ngModelChange)="resize($event)">
            </div>
        </div>
    </div>
    <nav class="game-menu">
        <button class="btn-menu btn-nav btn-menu btn-hovered btn" type="button" aria-expanded="false"
            (click)="showMenu = !showMenu">
            <img class="btn-icon" src="assets/menu-icons/settings.icon.svg" width="32" height="32" alt="Menu">
        </button>
        <div class="menu-btns" [hidden]="!showMenu">
            <button class="btn" type="button" (click)="handleColorSave()">
                <img src="assets/menu-icons/save.svg" [hidden]="!coloringSettings.settings.colorSave" width="48"
                    height="48" alt="save">
                <img src="assets/menu-icons/not-save.svg" [hidden]="coloringSettings.settings.colorSave" width="48"
                    height="48" alt="save">
                <div class="settings-info" #saveInfo>
                    <div class="settings-info__text">
                        <div class="settings-info__text-center">
                            {{ coloringSettings.settings.colorSave ? "Сохранять цвета" : "Не сохранять цвета" }}
                        </div>
                    </div>
                </div>
            </button>
            <button class="btn" type="button" (click)="handleColored()">
                <img src="assets/menu-icons/coloring.svg" [hidden]="!coloringSettings.settings.colored" width="48"
                    height="48" alt="coloring">
                <img src="assets/menu-icons/no-coloring.svg" [hidden]="coloringSettings.settings.colored" width="48"
                    height="48" alt="coloring">
                <div class="settings-info" #coloredInfo>
                    <div class="settings-info__text">
                        <div class="settings-info__text-center">
                            {{ coloringSettings.settings.colored ? "Цветное" : "Черно-белое" }}
                        </div>
                    </div>
                </div>
            </button>
            <button class="btn" type="button" (click)="handleQuality()">
                <img src="assets/menu-icons/quality.svg" width="48" height="48" alt="quality">
                <div class="settings-info" #qualityInfo>
                    <div class="settings-info__text">
                        <div class="settings-info__text-center">
                            {{ coloringSettings.colorSteps[coloringSettings.colorStepsIndex].title }}
                        </div>
                    </div>
                </div>
            </button>
            <button class="btn" type="button" (click)="handleSize()">
                <img src="assets/menu-icons/size.svg" width="48" height="48" alt="size">
                <div class="settings-info" #sizeInfo>
                    <div class="settings-info__text">
                        <div class="settings-info__text-center">
                            {{ coloringSettings.sizes[coloringSettings.sizesIndex].title }}
                        </div>
                    </div>
                </div>
            </button>
            <button class="btn" type="button" (click)="handleSelectPhoto()">
                <img src="assets/menu-icons/select-file.svg" width="48" height="48" alt="select-file">
            </button>
            <input type="file" class="custom-file-input" (change)="filesSelect($event.target.files)" accept="image/*"
                #fileInput />
        </div>
    </nav>
</nav>