<div class="loader justify-content-center" [hidden]="!loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler hidden-sm-up m-1" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
        data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <div class="input-group m-1">
            <div class="input-group w-100" (click)="changeColored($event)">
                <div class="color-select input-group-text w-100">
                    <input type="checkbox" name="colored" [(ngModel)]="colored"
                        aria-label="Checkbox for following text input">
                    <label class="form-check-label" for="colored">Цветное</label>
                </div>
            </div>
        </div>
        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text">Качество</span>
            </div>
            <select name="inputZoom" class="form-control" [(ngModel)]="colorSize">
                <option *ngFor="let c of colorSizes" [value]="c.value">{{c.title}}</option>
            </select>
        </div>
        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text">Масштаб</span>
            </div>
            <select name="inputZoom" class="form-control" [(ngModel)]="zoom">
                <option *ngFor="let z of zooms" [value]="z.value">{{z.title}}</option>
            </select>
        </div>
        <div class="input-group m-1">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="customFile"
                    (change)="filesSelect($event.target.files)" accept="image/*" required>
                <label class="custom-file-label"
                    for="customFile">{{ files && files.length ? files[0].name : 'Выберите фаил...'}}</label>
            </div>
        </div>
        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text">Размер</span>
            </div>
            <select name="inputSize" class="form-control" [(ngModel)]="size">
                <option *ngFor="let s of sizes" [value]="s.value">{{s.title}}</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="button" (click)="changeImage()"
                    [disabled]="!files || !files.length">Ok</button>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid main-container">
    <div class="container jumbotron" [hidden]="!firstLoad">
        <h1 class="display-4">Rec Image</h1>
        <p class="lead">Увлекательное времяпровождение - раскраска по пикселям. Раскрашивая квадрат за квадратом, мы
            получим полноценное пиксельное изображение разных картинок.</p>
        <hr class="my-4">
        <p>Автор рекомендуем автоматические настройки для быстрой работоспособность сайта. Но вы можете изменить по
            желанию в этой онлайн раскраски. Например увеличить масштаб для более чёткого изображения, выбрать как вы
            хотите раскрасить "черно белым" или "цветным" и многое другое . Все, что вам нужно сделать, это просто
            выбрать любое свое изображение или выбрать из предложенных.</p>
    </div>
    <table class="point-container" ng-if="points | async" [ngStyle]="{ transform: 'scale(' + zoom + ')' }">
        <tbody>
            <tr *ngFor="let items of points | async">
                <td *ngFor="let cell of items" (click)="spanClick(cell)"
                    [ngStyle]="{'background-color': cellsColoredCells[cell], color: cellsColoredCells[cell]}"
                    [ngClass]="{empty: !updated[cellsColoredCells[cell]] }">{{ cell }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid progress-container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="progress" [style.width]="progress + '%'"
            aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
</div>