<div class="container-fluid main-container">
    <preview [hidden]="!firstLoad"></preview>
    <table class="point-container" [ngStyle]="{ transform: 'scale(' + zoom + ')' }">
        <tbody>
            <tr *ngFor="let items of points | async">
                <td *ngFor="let cell of items" (click)="spanClick(cell)"
                    [ngStyle]="{'background-color': cellsColoredCells[cell], color: cellsColoredCells[cell]}"
                    [ngClass]="{empty: !updated[cellsColoredCells[cell]] }">{{ cell }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid progress-container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="progress" [style.width]="progress + '%'"
            aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
</div>