<div class="container-fluid main-container">
    <preview [hidden]="!firstLoad"></preview>
    <div class="point-container" [ngStyle]="{ transform: 'scale(' + zoom + ')' }">
        <div *ngFor="let items of points | async">
            <div class="cell" *ngFor="let cell of items" (click)="spanClick(cell)" [attr.color]="cell"
                [ngStyle]="{'background-color': cellsColoredCells[cell], color: cellsColoredCells[cell]}"
                [ngClass]="{empty: !updated[cellsColoredCells[cell]] }">
                {{ cell }}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid progress-container">
    <div class="progress">
        <div class="progress-bar" [style.width]="progress + '%'">
        </div>
    </div>
</div>