.main-container {
  margin-top: 4.2rem;
  height: calc(100% - 4.2rem - 16px);
  overflow: auto;
}

.convas-container {
  display: grid;
  width: 1%;
  height: 1%;
}

canvas {
  transform-origin: 0 0;
}

.progress-container {
  padding: 0;

  .progress {
    border-radius: 0;
  }
}
