<div class="footer-container container-fluid">
    <div class="footer-container container-fluid">
        <div class="center-block">
            <h2> Увлекательная раскраска по пикселям. </h2>
            <p class="text"> Раскрашивая квадрат за квадратом, мы получим полноценное пиксельное изображение
                разных картинок. </p>
            <div class="select-buttons">
                <button type="button" class="btn btn-lg btn-info">Загрузить
                    изображение</button>
                <button type="button" class="btn btn-lg btn-info light">Случайный выбор</button>
            </div>
        </div>
    </div>
</div>