<div class="footer-container container-fluid">
    <div class="footer-container container-fluid">
        <div class="center-block">
            <h2> Увлекательная раскраска по пикселям. </h2>
            <p class="text"> Раскрашивая квадрат за квадратом, мы получим полноценное пиксельное изображение
                разных картинок. </p>
            <div class="select-buttons">
                <a type="button" class="btn btn-lg btn-info" routerLink="/coloring">
                    Загрузить изображение
                </a>
                <a type="button" class="btn btn-lg btn-info light" routerLink="/coloring/0">
                    Случайный выбор
                </a>
            </div>
        </div>
    </div>
</div>