<div class="head-container container-fluid">
    <div class="center-block">
        <h1>Раскраска по пикселям.</h1>
        <p class="text">Раскрашивая квадрат за квадратом, мы получим полноценное пиксельное изображение разных картинок.
        </p>
        <div class="select-buttons">
            <button type="button" class="btn btn-lg btn-info">Загрузить
                изображение</button>
            <button type="button" class="btn btn-lg btn-info light">Случайный выбор</button>
        </div>
    </div>
</div>

<image-collection></image-collection>

<footer-select></footer-select>