<div class="container jumbotron">
    <h1 class="display-4">Rec Image</h1>
    <p class="lead">Увлекательное времяпрепровождение - раскраска по пикселям. Раскрашивая квадрат за квадратом, мы
        получим полноценное пиксельное изображение разных картинок.</p>
    <hr class="my-4">
    <p>Автор рекомендуем автоматические настройки для быстрой работоспособность сайта. Но вы можете изменить по
        желанию в этой онлайн раскраски. Например увеличить масштаб для более чёткого изображения, выбрать как вы
        хотите раскрасить "черно белым" или "цветным" и многое другое . Все, что вам нужно сделать, это просто
        выбрать любое свое изображение или выбрать из предложенных.</p>
</div>