.jumbotron {
  background-color: transparent;
}

div {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.card {
  width: 10rem;
  float: left;
  .card-img-top {
    width: 62px;
  }
  .hidden {
    display: none;
  }
}
